openapi: 3.1.0
info:
  title: vnstock-advisor Suggestion API
  version: 1.0.0
  description: |
    Authenticated API for retrieving ranked stock suggestions with reasoning.
    Every response includes the mandatory disclaimer per `compliance/disclaimer.md`.
  contact:
    name: vnstock-advisor Team
    email: dev@vnstock-advisor.dev
  license:
    name: Proprietary
servers:
  - url: https://api.vnstock-advisor.dev/v1
    description: Production
  - url: http://localhost:8080/v1
    description: Development
tags:
  - name: auth
    description: Authentication endpoints (login, refresh, JWKS)
  - name: suggestions
    description: Ranked suggestions with reasoning
  - name: health
    description: Health and readiness probes

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: RS256 JWT access token with `suggestions:read` scope

  schemas:
    # --- Authentication ---
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          format: email
          description: User email
        password:
          type: string
          format: password
          description: User password
    LoginResponse:
      type: object
      required:
        - access_token
        - refresh_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: RS256 JWT access token (15 min expiry)
        refresh_token:
          type: string
          description: Opaque refresh token (single-use, rotating)
        token_type:
          type: string
          enum: [Bearer]
          default: Bearer
        expires_in:
          type: integer
          description: Access token lifetime in seconds
          default: 900
    RefreshRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          description: Current refresh token (will be rotated)
    RefreshResponse:
      allOf:
        - $ref: '#/components/schemas/LoginResponse'
    JWKSResponse:
      type: object
      required:
        - keys
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/JWK'
    JWK:
      type: object
      required:
        - kty
        - use
        - kid
        - n
        - e
        - alg
      properties:
        kty:
          type: string
          enum: [RSA]
        use:
          type: string
          enum: [sig]
        kid:
          type: string
          description: Key ID
        n:
          type: string
          description: RSA modulus (Base64URL)
        e:
          type: string
          enum: [AQAB]
        alg:
          type: string
          enum: [RS256]

    # --- Suggestions ---
    PortfolioInput:
      type: object
      required:
        - symbols
      properties:
        symbols:
          type: array
          minItems: 1
          maxItems: 500
          items:
            type: string
            pattern: '^[A-Z]{3}$'
            description: VN stock symbol (3 uppercase letters, e.g., VNM, VCB)
          description: List of symbols to analyze
        weights:
          $ref: '#/components/schemas/RankingWeights'
    RankingWeights:
      type: object
      description: Optional custom ranking weights (sum must be 1.0)
      properties:
        momentum:
          type: number
          minimum: 0.0
          maximum: 1.0
          default: 0.4
        trend:
          type: number
          minimum: 0.0
          maximum: 1.0
          default: 0.3
        volume:
          type: number
          minimum: 0.0
          maximum: 1.0
          default: 0.2
        volatility:
          type: number
          minimum: 0.0
          maximum: 1.0
          default: 0.1

    SuggestionResponse:
      type: object
      required:
        - request_id
        - generated_at
        - source
        - disclaimer
        - ranked
        - excluded
      properties:
        request_id:
          type: string
          format: uuid
          description: Unique request identifier for tracing
        generated_at:
          type: string
          format: date-time
          description: Response generation timestamp (UTC)
        source:
          type: string
          description: Analysis engine version (e.g., analysis-engine-v1.2)
        disclaimer:
          $ref: '#/components/schemas/DisclaimerObject'
        ranked:
          type: array
          items:
            $ref: '#/components/schemas/RankedSuggestion'
        excluded:
          type: array
          items:
            $ref: '#/components/schemas/ExcludedSymbol'

    RankedSuggestion:
      type: object
      required:
        - rank
        - symbol
        - composite_score
        - components
        - sub_components
        - reasoning
        - screening
      properties:
        rank:
          type: integer
          minimum: 1
          description: 1-based rank position
        symbol:
          type: string
          pattern: '^[A-Z]{3}$'
        composite_score:
          type: number
          minimum: 0
          maximum: 100
          description: Weighted composite score (0-100)
        components:
          type: object
          required:
            - momentum
            - trend
            - volume
            - volatility
          properties:
            momentum:
              type: number
              minimum: 0
              maximum: 100
            trend:
              type: number
              minimum: 0
              maximum: 100
            volume:
              type: number
              minimum: 0
              maximum: 100
            volatility:
              type: number
              minimum: 0
              maximum: 100
        sub_components:
          type: object
          description: Raw sub-component values for transparency
          properties:
            roc10_percentile:
              type: number
              minimum: 0
              maximum: 100
            rsi_normalized:
              type: number
              minimum: 0
              maximum: 100
            trend_conditions_passed:
              type: integer
              minimum: 0
              maximum: 7
            trend_total_conditions:
              type: integer
              default: 7
            volume_ratio_percentile:
              type: number
              minimum: 0
              maximum: 100
            obv_trend_percentile:
              type: number
              minimum: 0
              maximum: 100
            atr_pct_percentile_inverted:
              type: number
              minimum: 0
              maximum: 100
        reasoning:
          type: array
          minItems: 1
          maxItems: 4
          items:
            type: string
          description: Human-readable reasoning per factor (momentum, trend, volume, volatility)
        screening:
          type: object
          required:
            - passed
            - evaluations
          properties:
            passed:
              type: boolean
            evaluations:
              type: object
              properties:
                price_gt_sma20:
                  $ref: '#/components/schemas/CriterionEvaluation'
                rsi_lt_70:
                  $ref: '#/components/schemas/CriterionEvaluation'
                volume_gt_1_5x_avg:
                  $ref: '#/components/schemas/CriterionEvaluation'

    CriterionEvaluation:
      type: object
      required:
        - pass
      properties:
        pass:
          type: boolean
        price:
          type: number
        sma20:
          type: number
        rsi:
          type: number
        volume:
          type: number
        avg_volume:
          type: number
        diff_pct:
          type: number
        ratio:
          type: number

    ExcludedSymbol:
      type: object
      required:
        - symbol
        - stage
        - reason
      properties:
        symbol:
          type: string
          pattern: '^[A-Z]{3}$'
        stage:
          type: string
          enum: [indicators, screening, ranking]
          description: Pipeline stage where symbol was excluded
        reason:
          type: string
          description: Exclusion reason (e.g., insufficient_data, price_below_sma20)
        missing:
          type: array
          items:
            type: string
          description: Specific indicators missing (for indicators stage)

    DisclaimerObject:
      type: object
      required:
        - vi-VN
        - en-US
      properties:
        vi-VN:
          type: string
          description: Full Vietnamese disclaimer text
        en-US:
          type: string
          description: Full English disclaimer text

    # --- Errors (RFC 7807 Problem Details) ---
    ProblemDetails:
      type: object
      required:
        - type
        - title
        - status
        - detail
        - instance
      properties:
        type:
          type: string
          format: uri
          description: URI identifying the problem type
        title:
          type: string
          description: Short, human-readable summary
        status:
          type: integer
          minimum: 400
          maximum: 599
          description: HTTP status code
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence
        instance:
          type: string
          format: uri
          description: URI reference identifying the specific occurrence
        code:
          type: string
          description: Machine-readable error code (e.g., auth.token_expired)
        trace_id:
          type: string
          format: uuid
          description: Request trace ID for debugging

    # --- Health ---
    HealthResponse:
      type: object
      required:
        - status
        - version
        - uptime_seconds
        - checks
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        version:
          type: string
        uptime_seconds:
          type: number
        checks:
          type: array
          items:
            $ref: '#/components/schemas/HealthCheck'
    HealthCheck:
      type: object
      required:
        - name
        - status
      properties:
        name:
          type: string
        status:
          type: string
          enum: [pass, warn, fail]
        details:
          type: object

  parameters:
    AcceptLanguage:
      name: Accept-Language
      in: header
      description: Preferred locale (vi-VN, en-US)
      schema:
        type: string
        enum: [vi-VN, en-US]
        default: vi-VN

paths:
  /auth/login:
    post:
      tags: [auth]
      summary: User login — issue access + refresh tokens
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          headers:
            Set-Cookie:
              description: HttpOnly Secure refresh token cookie (optional, for browser clients)
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/refresh:
    post:
      tags: [auth]
      summary: Refresh access token — rotates refresh token
      operationId: refresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Tokens refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
          headers:
            Set-Cookie:
              description: New HttpOnly Secure refresh token cookie
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Refresh token reuse detected (session revoked)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: "https://api.vnstock-advisor.dev/problems/refresh_reuse"
                title: "Refresh token reuse detected"
                status: 409
                detail: "The presented refresh token was already rotated. Session revoked for security."
                instance: "/auth/refresh"
                code: "auth.refresh_reuse"
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/jwks:
    get:
      tags: [auth]
      summary: Get JWKS public keys for RS256 token verification
      operationId: getJwks
      responses:
        '200':
          description: JWKS response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWKSResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /suggestions:
    get:
      tags: [suggestions]
      summary: Get ranked suggestions for a portfolio
      operationId: getSuggestions
      security:
        - BearerAuth: [suggestions:read]
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - name: symbols
          in: query
          description: Comma-separated list of symbols (max 500). Optional; defaults to analysis universe.
          schema:
            type: string
            pattern: '^([A-Z]{3})(,[A-Z]{3})*$'
        - name: weights
          in: query
          description: JSON-encoded custom ranking weights (sum=1.0). Optional.
          schema:
            type: string
            format: json
            example: '{"momentum":0.4,"trend":0.3,"volume":0.2,"volatility":0.1}'
        - name: date
          in: query
          description: Ranking date (YYYY-MM-DD). Defaults to latest trading day.
          schema:
            type: string
            format: date
        - name: algorithm_version
          in: query
          description: Ranking algorithm version (e.g., v1.0)
          schema:
            type: string
            default: v1.0
        - name: screen_version
          in: query
          description: Screening criteria version (e.g., v1.0)
          schema:
            type: string
            default: v1.0
      responses:
        '200':
          description: Ranked suggestions with reasoning and disclaimer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestionResponse'
          headers:
            X-Disclaimer:
              description: Short disclaimer for the negotiated locale
              schema:
                type: string
                example: "⚠️ Tham khảo בלבד — Không phải lời khuyên đầu tư."
            Retry-After:
              description: Not present on 200
              schema:
                type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '500':
          $ref: '#/components/responses/InternalError'

  /health:
    get:
      tags: [health]
      summary: Liveness and readiness probe
      operationId: health
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service degraded/unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /health/live:
    get:
      tags: [health]
      summary: Liveness probe (Kubernetes)
      operationId: healthLive
      responses:
        '200':
          description: Process alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [alive]
        '500':
          description: Process not alive

  /health/ready:
    get:
      tags: [health]
      summary: Readiness probe (Kubernetes)
      operationId: healthReady
      responses:
        '200':
          description: Ready to serve traffic
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ready]
                  dependencies:
                    type: object
                    properties:
                      analysis_engine:
                        type: string
                        enum: [up, down]
                      database:
                        type: string
                        enum: [up, down]
        '503':
          description: Not ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [not_ready]
                  dependencies:
                    type: object

  responses:
    BadRequest:
      description: Malformed request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.vnstock-advisor.dev/problems/bad_request"
            title: "Bad request"
            status: 400
            detail: "Request body is not valid JSON"
            instance: "/suggestions"
            code: "validation.bad_request"
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          examples:
            token_missing:
              value:
                type: "https://api.vnstock-advisor.dev/problems/auth_token_missing"
                title: "Authentication required"
                status: 401
                detail: "Authorization header with Bearer token is required"
                instance: "/suggestions"
                code: "auth.token_missing"
            token_invalid:
              value:
                type: "https://api.vnstock-advisor.dev/problems/auth_token_invalid"
                title: "Invalid token"
                status: 401
                detail: "Token signature verification failed"
                instance: "/suggestions"
                code: "auth.token_invalid"
            token_expired:
              value:
                type: "https://api.vnstock-advisor.dev/problems/auth_token_expired"
                title: "Token expired"
                status: 401
                detail: "Access token has expired. Use /auth/refresh to obtain a new one."
                instance: "/suggestions"
                code: "auth.token_expired"
    Forbidden:
      description: Valid token but insufficient scope
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.vnstock-advisor.dev/problems/auth_scope_denied"
            title: "Insufficient scope"
            status: 403
            detail: "Token lacks required scope: suggestions:read"
            instance: "/suggestions"
            code: "auth.scope_denied"
    UnprocessableEntity:
      description: Semantic validation error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          examples:
            portfolio_invalid:
              value:
                type: "https://api.vnstock-advisor.dev/problems/validation_portfolio"
                title: "Invalid portfolio"
                status: 422
                detail: "Symbols list cannot be empty"
                instance: "/suggestions"
                code: "validation.portfolio_invalid"
            weights_invalid:
              value:
                type: "https://api.vnstock-advisor.dev/problems/validation_weights"
                title: "Invalid weights"
                status: 422
                detail: "Weights must sum to 1.0 (tolerance ±0.001) and each be in [0.0, 1.0]"
                instance: "/suggestions"
                code: "validation.weights_invalid"
    RateLimited:
      description: Rate limit exceeded
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.vnstock-advisor.dev/problems/rate_limit_exceeded"
            title: "Rate limit exceeded"
            status: 429
            detail: "Too many requests. Retry after 60 seconds."
            instance: "/suggestions"
            code: "rate_limit.exceeded"
      headers:
        Retry-After:
          description: Seconds until next allowed request
          schema:
            type: integer
            minimum: 1
    BadGateway:
      description: Upstream service (analysis-engine) unavailable
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.vnstock-advisor.dev/problems/upstream_rank_failed"
            title: "Upstream service unavailable"
            status: 502
            detail: "Analysis engine /rank endpoint returned an error or timed out"
            instance: "/suggestions"
            code: "upstream.rank_failed"
    InternalError:
      description: Internal server error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: "https://api.vnstock-advisor.dev/problems/internal_error"
            title: "Internal server error"
            status: 500
            detail: "An unexpected error occurred"
            instance: "/suggestions"
            code: "internal.error"

security:
  - BearerAuth: []